#pic-1{
    width: 400px;
    float: right;
    box-shadow: 0px 4px 4px 0px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
}
#pic-2{
    width: 400px;
    float: left;
    box-shadow: 0px 4px 4px 0px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
    
    
}
body{
    font-family: 'Nanum Brush Script', cursive;
}
div{
    font-size: x-large;
}
div h1{
    font-family: 'Seaweed Script', cursive;
}
figure {
    
}